.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main
{
  display : flex;
  margin: auto;
  flex-direction : column;
  align-items : center;
  flex-wrap: wrap;
}


.toolsPanel{
  margin-top : 20px;
}

.toolsPanel > button{
  width : 60px;
  height : 60px;
}

#grid {
  padding: 1px;
  display : grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-gap: -1px;
  margin-top: 25vh;
  height : 50vh;
  width : 50vh;
  border: 1px solid black;
  background: white;
}

#grid > div{
  cursor : crosshair;
  border : 1px solid black;
  background: white;
}

#grid > div:Hover{
  background: darkgray;
  transition: 0.25s linear;
}

